.poster{
  width: 100%;
  object-fit: cover;
  height: 640px;

}
.movie-container{
  width: 340px;
  height: min-content;
}


.sub-div{
  display: flex;
  justify-content: space-between;

align-items: center;
margin: 0%

}

.summary{
  margin: 0%;
}
.main{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
  
  gap: 16px;
}
.rating{
  margin: 0%;
}
.like{
  margin: 1px;
}
button{
  border: 1px solid black;
}
.add-movie-poster{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 10px auto;
  
}

.game-box{
  border: 1px solid black;
    font-size: 160px;
  height: 160px;
  width: 160px;

  display: flex;
 align-items: center;
  justify-content: center;
  cursor: pointer;
}
.game-box:hover{
background-color: rgb(199, 195, 195);
}
.board{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: min-content;
margin: auto;
margin-bottom: 20px;
}

.tic-toe{
  text-align: center; 

}
.not-found{
width: 100%;
object-fit: cover;
max-width: 500px;
margin: 0px
}
.movie-detailcontainer{
  max-width: 560px;
}
body{
  margin: 0%;
}